.button {
  color: black;
  min-width: 20px;
  min-height: 20px;
  border: 0;
  font-size: 1.5em;
  cursor: pointer;
  background-image: url("logo.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.popup {
  position: relative;
  display: inline-block;
}

.popup-defs {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.popup-defs a {
  color: black;
  padding: 12px 16px;
  display: block;
}

.popup-defs a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
