body {
	font-family: 'Lora', serif;
	color: #474545;
	border: 1px solid #a8cded;
	padding: 5px;
}

h1, h2, select {
 font-family: 'Montserrat', sans-serif;
 font-weight: 300;
}

h3, h4, h5, h6 {
	font-family: 'Lora', serif;
	font-weight: 300;
}

figcaption {
	font-family: 'Montserrat', sans-serif;
 	font-size: 150%;
}

ol{
	font-size: 110%
}

input[type=text] {
	padding: 5px 5px;
	border: none;
	box-sizing: border-box;
	border-bottom: 1px solid #a8cded;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	outline: none;
	resize: none;
}

input[type=text]:focus {
	border: 1px solid #474545;
}

.box{
	border: 1px solid #a8cded;
	border-style: none none solid none;
	padding: 5px;
}

.searchBox{
	padding: 5px;
}

.resultsBox{
	border: 1px solid #a8cded;
	border-style: none none solid none;
	padding: 5px;
}

.tablink {
	background-color: #a8cded;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 13px;
	width: 50%;
}

#loader {
	display: "inline";
	border: 3px solid #f3f3f3; /* Light grey */
	border-top: 3px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 16px;
	height: 16px;
	animation: spin 1s linear infinite;
}
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}